html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Ubuntu;
}
html,body {
    overflow: hidden;
}
#map {
    transform: translateX(-10%) translateY(5%);
}

body {
    background-color: #efefef;
}

/*disable zoom/pan action on popup*/
.action.zoomTo {
    display: none;
}

.info-title {
    font-weight: bold;
}
#map {
    opacity: 0;
}
/*#map_container,
img:not([id*=map_layer]) {
    -webkit-clip-path: url('#vgtbBoundary');
    clip-path: url('#vgtbBoundary');
}*/

#map_layer1,
.esriControlsBR {
    display: none!important;
}

#title h1 {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    padding: 12px;
    opacity: 0.9;
    border-radius: 2px;
    color: #666;
}
#title h1 span {
    color: #000;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0.9;
    background-color: #fff;
    padding-top: 45px;
}

#legend {
    /*position: fixed;
    bottom: 20px;
    left: 20px;*/
    font-size: 12px;
    padding: 12px;
    opacity: 0.9;
    background-color: #fff;
    border-radius: 2px;
}
#legend td {
    padding: 2px 8px;
    text-align: center;
}
#legend .color-block {
    height: 12px;
    width: 12px;
    border-radius: 2px;
}
#legend .color-block.mild-drought { background-color: rgba(225,225,0,1); }
#legend .color-block.moderate-drought { background-color: rgba(225,211,127,1); }
#legend .color-block.severe-drought { background-color: rgba(230,152,0,1); }
#legend .color-block.very-severe-drought { background-color: rgba(230,0,0,1); }
#legend .color-block.extremely-drought { background-color: rgba(115,0,0,1); }

#controller {
    /*position: fixed;
    bottom: 20px;
    right: 20px;*/
    font-size: 12px;
    padding: 6px 12px;
    opacity: 0.9;
    background-color: #fff;
    border-radius: 2px;
}
#controller * {
    font-family: Ubuntu;
    border-radius: 4px;
}
#controller div {
    display: inline-block;
    margin: 0 4px 8px 4px;
    vertical-align: top;
}
#controller td {
    padding: 0 5px;
}
#controller td {
    margin: 0 0 16px 0;
}
#month_input,
#year_input {
    border: 1px solid #aaa;
    padding-left: 7px;
}
.btn-toggle {
    background: #eee;
    height: 16px;
    line-height: 16px;
    padding: 0 8px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #aaa;
    color: #000;
    text-decoration: none;
}
