body {
    background-color: #fff;
}

.controller .ctrl-wrap input,
.controller .ctrl-wrap select {
    background-color: #eee;
}

#preview {
    margin-top: 20px;
    text-align: center;
}

.btn-download-wrap {
    margin-top: 40px;

    a {
        padding: 10px 30px;
        border-radius: 3px;
        color: #fff;
        background-color: #237698;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            background-color: #005f86;
        }
    }
}
