body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E1ECF0;
    line-height: 20px;
    font-size: 12px;
}
.container {
    width: auto;
}
div.navbar {
    width: 100%;
    min-height: 25px;
    background-color: #0088cc;
    background-image: -moz-linear-gradient(top, #0088CC, #005F86);
    background-image: -ms-linear-gradient(top, #0088CC, #005F86);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#005F86));
    background-image: -webkit-linear-gradient(top, #0088CC, #005F86);
    background-image: -o-linear-gradient(top, #0088CC, #005F86);
    background-image: linear-gradient(top, #0088CC, #005F86);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#005F86', GradientType=0);
    margin: 0;
    border-radius: 0;
}
div.header {
    width: 100%;
    height: 76px;
    background: url('http://leutra.geogr.uni-jena.de/vgtbRBIS/metadata/admin/header01_meta.jpg') #005F86 no-repeat;
    margin: -1px 0 0 0;
    padding: 0;
    z-index: 2;
    position: relative;
    h1 {
        height: 76px;
        line-height: 76px;
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 36px;
        font-style: italic;
        font-weight: bold;
    }
}
div.leftnav {
    background: url('http://leutra.geogr.uni-jena.de/vgtbRBIS/metadata/layout/img/col01_top.jpg') repeat-x scroll left top #005F86;
    height: 100%;
    border-right: 5px solid #08C;

    ul {
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0 0 0 15px;
        & > li  {
            margin-bottom: 5px;
            &.active > a {
                display: block;
                background-color: #08C;
                margin: 0 -15px;
                padding: 0 0 0 15px;
            }
            & > a {
                color: #fff;
                font-weight: bold;
                text-decoration: none!important;
            }
            & > ul {
                & > li  {
                    & > a {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
div.content-wrap {
    border-top: 5px solid #08C;
    padding: 15px 20px;
    h2 {
        white-space: nowrap;
        font-size: 24px;
    }
}

// hide esriControlsBR
.esriControlsBR {
    display: none;
}
#map {
    opacity: 0;
    &.precip {
        width: 640px;
        height: 500px;
        #map_gc > g {
            transform: translateY(15px);
        }
    }
}
.controller {
    .ctrl-wrap {
        display: inline-block;
        input, select {
            min-width: 100px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            padding: 0 16px;
            border-radius: 0!important;
            border: none;
            outline: none!important;
            background: #fff;
        }
        label {
            transform: translateX(16px) translateY(-8px);
        }
    }
}
// hide default arcgis control
.action.zoomTo {
    display: none;
}

#legend {
    margin-top: 16px;
    opacity: 0.9;
}
#legend td {
    padding: 2px 8px;
    font-size: 12px;
}
#legend .color-block {
    height: 12px;
    width: 12px;
    border-radius: 2px;
}

// statistics page
$cellheight: 3px;
$cellwidth: 20px;
$colwidth: $cellwidth * 11;

#spis_wrap {
    width: 10000px;
    margin-left: 60px;
    .spis {
        display: inline-block;
        h3 {
            font-size: 14px;
            text-align: center;
            // font-weight: 300;
            margin: 10px 0;
        }
    }
}
div.year {
    width: $colwidth + 2;
    height: $cellheight * 12 + 2;
    padding: 0;
    margin: 0 0 1px 0;
    border: 1px solid transparent;
    position: relative;
    font-size: 0;
    cursor: pointer;

    div.legend {
        position: absolute;
        top: 0;
        left: -40px;
        text-align: right;
        height: $cellheight * 12;
        line-height: $cellheight * 12;
        font-size: 12px;
        width: 30px;
        font-weight: 500;
    }
    &:hover {
        border: 1px solid #666;
    }
}
#spis_wrap div.row,
#tooltip div.row {
    height: $cellheight;
    width: $colwidth;
    transition: 0.1s ease-in-out;
    margin: 0;

    div.cell {
        height: $cellheight;
        line-height: $cellheight;
        width: 9.09%;
        display: inline-block;
        text-align: center;
        font-size: 10px;
        font-weight: 500;
        color: transparent;
        &.month {
            display: none;
        }
    }
}

$tooltipcellheight: 15px;

#tooltip {
    background: rgba(255,255,255,1);
    border: 1px solid #666;
    height: $tooltipcellheight * 16 + 16;
    width: $colwidth * 1.5 + $cellwidth * 1.5 + 24;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #ccc;
    padding: 8px;
    display: none;

    h4 {
        height: $tooltipcellheight;
        line-height: $tooltipcellheight;
        font-size: 12px;
        margin: 0;
        padding: 8px 16px 32px 16px;
    }
    div.row {
        height: $tooltipcellheight;
        width: $colwidth * 1.5 + $cellwidth * 1.5;
        div.cell {
            height: $tooltipcellheight;
            line-height: $tooltipcellheight;
            width: $cellwidth * 1.5;
            color: #666;
            &.month {
                display: inline-block;
            }
        }
        &.stations {
            transform: translateY(-8px);
            div.cell {
                line-height: 10px;
            }
        }
    }
    .legend {
        display: none;
    }
}
