html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/*disable zoom/pan action on popup*/
.action.zoomTo {
    display: none;
}

.info-title {
    font-weight: bold;
}
